<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login Page</h1>
    <div 
        class="login-fail"
        th:if="${param.error}">
        <p style="color:red">
            Invalid username or password
        </p>
    </div>
    <div 
    class="logout-success"
    th:if="${param.logout}">
    <p>
        You have sucessfully logged out
    </p>
</div>
    <form th:action="@{/processFormLogin}" method="POST">
        <p>
            Username: <input type="text" name="username">
        </p>
        <p>
            Password: <input type="password" name="password">
        </p>
        <input type="submit" value="login">
    </form>
</body>
</html>